.DiaryEntry {
  font-size: 1.5rem;
}

.DiaryEntry-completed {
  font-size: 1rem;
  margin-bottom: 2.5rem;
}

.DiaryEntry__typist {
  display: inline;
  word-break: break-word;
}

.DiaryEntry__date {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

[class^="Diary__text-"] {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.Diary__text-anger {
  border-bottom-color: crimson;
}

.Diary__text-contempt {
  border-bottom-color: grey;
}

.Diary__text-disgust {
  border-bottom-color: darkolivegreen;
}

.Diary__text-fear {
  border-bottom-color: purple;
}

.Diary__text-happiness {
  border-bottom-color: orange;
}

.Diary__text-sadness {
  border-bottom-color: midnightblue;
}

.Diary__text-surprise {
  border-bottom-color: deeppink;
}