.DiaryEntry {
  font-size: 1.125rem;
}

.DiaryEntry-completed {
  margin-bottom: 2.5rem;
}

.DiaryEntry__typist {
  display: inline;
  word-break: break-word;
}

.DiaryEntry__date {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

[class^="Diary__text-"] {
  font-weight: bold;
}

.Diary__text-anger {
  color: crimson;
}

.Diary__text-contempt {
  color: grey;
}

.Diary__text-disgust {
  color: darkolivegreen;
}

.Diary__text-fear {
  color: purple;
}

.Diary__text-happiness {
  color: orange;
}

.Diary__text-sadness {
  color: midnightblue;
}

.Diary__text-surprise {
  color: deeppink;
}