.Typist .Cursor {
  display: inline-block; }
  .Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.Waiting {
  display: inline-block;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Waiting__title {
  font-family: 'Pacifico', cursive;
  margin: 0;
}

.Waiting__button {
  padding: 1rem 1.5rem;
  color: white;
  border: 0;
  border-radius: 1rem;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  background: crimson;
  border-bottom: 6px solid darkred;
  cursor: pointer;
}

.Waiting__button:active {
  border-bottom: 0;
  margin-top: calc(1.5rem + 6px);
}.DiaryEntry {
  font-size: 1.5rem;
}

.DiaryEntry-completed {
  font-size: 1rem;
}

.DiaryEntry__typist {
  display: inline;
  word-break: break-word;
}

.DiaryEntry__date {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

[class^="Diary__text-"] {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.Diary__text-anger {
  border-bottom-color: orangered;
}

.Diary__text-contempt {
  border-bottom-color: grey;
}

.Diary__text-disgust {
  border-bottom-color: limegreen;
}

.Diary__text-fear {
  border-bottom-color: blueviolet;
}

.Diary__text-happiness {
  border-bottom-color: lightskyblue;
}

.Diary__text-sadness {
  border-bottom-color: midnightblue;
}

.Diary__text-surprise {
  border-bottom-color: hotpink;
}.Current {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}.Previous {
  flex-basis: 70%;
  overflow: auto;
}

.Previous__gallery {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Previous__image {
  position: relative;
  width: 20%;
  border-top: 0.5rem solid white;
  border-left: 0.5rem solid white;
  border-right: 0.5rem solid white;
  border-bottom: 1.5rem solid white;
  filter: grayscale(0.9) brightness(1.1);
  transform: scaleX(-1);
  box-shadow: -1px 1px 4px rgba(0,0,0,0.2);
}.Diary {
  grid-area: diary;
  position: relative;
  display: flex;
  margin: 1.5rem;
  margin-right: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: inset 2px 2px 20px rgba(0, 0, 0, 0.9);
}

.Diary__title {
  font-family: 'Pacifico', cursive;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: black;
  transform: rotate(-90deg);
  transform-origin: 0% 25%;
  letter-spacing: 2px;
}

.Diary__paper {
  position: relative;
  flex-grow: 1;
  margin: 1.5rem 0rem 1.5rem 4rem;
  padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  background: repeating-linear-gradient(0deg, lightgrey 1px, lightgrey 2px, antiquewhite 1px, antiquewhite 2rem);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}

.Diary__paper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3));
}

.Diary__paper-number {
  position: absolute;
  bottom: 0.25rem;
  left: 0.5rem;
}.Countdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

[class^="Countdown__number-"] {
  font-family: 'Pacifico', cursive;
  font-size: 20rem;
  margin: 0;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.Countdown__number-three {
  color: crimson;
}

.Countdown__number-two {
  color: orange;
}

.Countdown__number-one {
  color: greenyellow;
}

.Countdown__flash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }
}.Webcam__polaroid {
  position: relative;
  background: black;
  border-top: 1.5rem solid white;
  border-left: 1.5rem solid white;
  border-right: 1.5rem solid white;
  border-bottom: 6.5rem solid white;
  width: 400px;
  height: 400px;
  box-sizing: content-box;
  transform: rotate(-5deg) translateX(2rem) translateY(1rem) scaleX(-1);
  box-shadow: -4px 4px 20px rgba(0, 0, 0, 0.4);
}

.Webcam__polaroid:after {
  content: '';
  position: absolute;
  top: -3rem;
  left: 30%;
  width: 120px;
  height: 40px;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
  transform: rotate(3deg);
  border: 0;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.Webcam__video {
  filter: sepia(0.2) hue-rotate(-5deg) brightness(1.1);
}

.Webcam__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(0.9) brightness(1.1);
}

.Webcam__love {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}.Webcam {
  grid-area: webcam;
  position: relative;
  display: flex;
  margin: 1.5rem;
  margin-left: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: inset 2px 2px 20px rgba(0, 0, 0, 0.9);
}

.Webcam__paper {
  position: relative;
  flex-grow: 1;
  margin: 1.5rem 2rem 1.5rem 0rem;
  padding: 1.5rem;
  background: repeating-linear-gradient(0deg, lightgrey 1px, lightgrey 2px, antiquewhite 1px, antiquewhite 2rem);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}

.Webcam__paper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  height: 100%;
  background: linear-gradient(to left, transparent, rgba(0,0,0,0.3));
}

.Webcam__paper-number {
  position: absolute;
  bottom: 0.25rem;
  right: 0.5rem;
}.Layout {
  height: 100vh;
  display: grid;
  grid-template-areas: "diary webcam";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}