.Diary {
  grid-area: diary;
  position: relative;
  display: flex;
  margin: 1.5rem;
  margin-right: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: inset 2px 2px 20px rgba(0, 0, 0, 0.9);
}

.Diary__title {
  font-family: 'Pacifico', cursive;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: black;
  transform: rotate(-90deg);
  transform-origin: 0% 25%;
  letter-spacing: 2px;
}

.Diary__paper {
  position: relative;
  flex-grow: 1;
  margin: 1.5rem 0rem 1.5rem 4rem;
  padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  background: repeating-linear-gradient(0deg, lightgrey 1px, lightgrey 2px, antiquewhite 1px, antiquewhite 2rem);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
}

.Diary__paper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.3));
}

.Diary__paper-number {
  position: absolute;
  bottom: 0.25rem;
  left: 0.5rem;
}