.Countdown {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

[class^="Countdown__number-"] {
  font-family: 'Pacifico', cursive;
  font-size: 20rem;
  margin: 0;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.Countdown__number-three {
  color: crimson;
}

.Countdown__number-two {
  color: orange;
}

.Countdown__number-one {
  color: greenyellow;
}

.Countdown__flash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  animation-name: fade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }
}